
/**hand 상품**/

.hand_title {
  width: 100%;
  color: white;
  background-color: #325336;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
}

.hand_title .breadcrumb {
  position: absolute;
  right: 20px;
  top: 10px;
}




.hand_item_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
  text-align: center;

  background-color: #EFE6D8;
  overflow: hidden;

}


.hand_item_list p {
  margin-bottom: 0;
}

.hand_item_list a {
  color: #325336;
}


.hand_item_list img {
  transition: transform 0.4s ease;
}
.hand_item_list img:hover {
  transform: scale(0.9);
}





.hand_item_list p:nth-child(4) {

}
.hand_item_card {
  color: #325336;


}

.hand_item_card img {
  width: 100%;
  height: 500px;
  object-fit: cover;

}





.hand_detail {
  width: 100%;
  color: #325336;
  text-align: center;
}

.hand_detail_title {
    width: 100%;
  color: white;
  background-color: #325336;
  margin-top: 10px;
  margin-bottom: 10px;
}
.hand_item_list button {
  margin-top: 20px;
  margin-bottom: 10px;
    width: 100px;
  height: 50px;
  font-weight: 600;
  border: 3px solid #325336;
  background-color: white;
  color: #325336;

}

.hand_item_list button :hover {
  background-color: #325336;
  color: white;
  

}




/*******************************************/

.hand_detail button {
  margin-top: 20px;
    width: 100px;
  height: 50px;
  font-weight: 600;
  border: 3px solid #325336;
  background-color: white;
  color: #325336;

}

.hand_detail button:hover {
    background-color: #325336;
  color: white;
}
.hand_detail p {
  margin-bottom: 0;
}

.hand_detail {
  background-color: #EFE6D8;
}



